.upper_left img {
  width: 100px;
}
.educ_div_section,
.educ_container_one img {
  width: 100%;
}
.educ_container_one img {
  height: 418px;
  border-radius: 3px;
}
.educ_div_section {
  background: #101625;
  padding: 40px 20px;
  gap: 20px;
  width: 100%;
}
.educ_div_section,
.educ_upper_section,
.upper_container_section,
.educ_container_two,
.educ_lower_section,
.educ_data_info {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.educ_upper_section,
.upper_container_section {
  flex-direction: row;
}
.upper_container_section {
  width: 100%;
  justify-content: center;
  gap: 20px;
}
.educ_container_two {
  border-radius: 12px;
  flex-direction: column;
  color: azure;
  padding: 36px 6px;
  gap: 15px;
  width: 659px;
}

.educ_upper_section {
  width: 95%;
}
.upper_middle {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 15px;
}
.upper_middle h3 {
  font-size: 27px;
}

.educ_btn button {
  outline: none;
  border: none;
  width: 227px;
  height: 45px;
  font-size: 15px;
  transition: ease-in-out 0.5s;
  background: transparent;
  color: #fff;
  border: 1px solid #1e88e5;
  box-shadow: 3px #1e88e5;
  border-radius: 3px;
}
.educ_btn button:active {
  transform: scale(0.9);
}
.educ_lower_section {
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  align-items: stretch;
}
.educ_lower_section,
.educ_data_info {
  width: 90%;
}
.educ_data_info {
  line-height: 24px;
}
.educ_btn {
  padding-top: 6px;
}

@media screen and (min-width: 1024px) {
  .educ_container_one {
    width: 50%;
  }
  .educ_div_section {
    padding: 40px 20px;
  }
  .educ_div_section {
    height: 600px;
  }
}

@media screen and (max-width: 1024px) {
  .educ_upper_section {
    flex-direction: column;
  }
  .educ_container_one img {
    height: auto;
  }
  .educ_container_two {
    width: 100%;
  }
  .educ_div_section {
    padding: 36px 20px;
  }
}
@media screen and (max-width: 880px) {
  .educ_upper_section {
    flex-direction: column;
  }
}
@media screen and (max-width: 720px) {
  .educ_lower_section {
    width: 100%;
  }
  .upper_container_section {
    justify-content: space-between;
  }
}
@media screen and (max-width: 480px) {
  .upper_left img {
    display: none;
  }
  .upper_container_section {
    gap: 0px;
  }
  .educ_lower_section {
    width: 100%;
  }
  .educ_data_info {
    width: 100%;
    text-align: left;
  }
  .upper_middle {
    gap: 3px;
  }
  .upper_right {
    gap: 6px;
    display: flex;
    flex-direction: column;
  }
  .upper_right h5 {
    font-size: 13px;
  }
}
