.data_values {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  background: #ababff52;
  width: 350px;
  padding: 12px;
  color: #fff;
}

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px 0;
}
