.my_certificates_container {
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.certificates_header_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.certificates_data_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 18px;
  margin: 15px;
}
.cert_data_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: bisque;
  flex-direction: column;
  height: 250px;
  width: 320px;
}
.overlay_section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}
