.my_certificates_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
.certificates_header_container {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
}
.certificates_data_container {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 24px;
  margin: 15px;
}
.cert_data_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  background: #fff;
  flex-direction: column;
  height: 250px;
  width: 320px;
}
.overlay_section {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  width: 80%;
  text-align: center;
}

@media screen and (max-width: 580px) {
  .certificates_header_container {
    width: 100%;
  }
  .cert_data_container {
    width: 90%;
  }
}
