.proj_containar_section {
  width: 90%;
  padding: 20px 30px;
}

.proj_containar_section,
.proj_left,
.proj_right {
  display: flex;
  align-content: center;
  justify-content: center;
}
.proj_left,
.proj_right {
  flex-wrap: wrap;
  width: 50%;
}
.proj_left {
  text-align: center;
  gap: 12px;
}
.proj_left h3 {
  font-size: 36px;
  flex-wrap: wrap;
  display: flex;
}
.proj_left p {
  line-height: 23px;
  font-size: 18px;
  width: 90%;
}
.proj_right img {
  height: 550px;
}

@media screen and (max-width: 720px) {
  .proj_containar_section {
    flex-direction: column;
  }
  .proj_right img {
    width: 100%;
    height: auto;
  }
}

@media screen and (max-width: 420px) {
  .proj_left h3 {
    font-size: 24px;
  }
}
