.spinner {
  width: 27px;
  height: 27px;
  border-radius: 50%;
  background: conic-gradient(#0000 10%, #ffffff);
  -webkit-mask: radial-gradient(farthest-side, #0000 calc(100% - 9px), #000 0);
  animation: spinner-zp9dbg 1s infinite linear;
  margin-left: 20px;
}

@keyframes spinner-zp9dbg {
  to {
    transform: rotate(1turn);
  }
}
