.data_values {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  background: #0f0f2cc7;
  width: 350px;
  padding: 12px;
  color: #fff;
  flex-direction: column-reverse;
}

.card__info {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  padding: 60px 0;
}

.card_btn {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
}

.delete_card {
  width: 27px;
  background: transparent;
  border: none;
  color: white;
  outline: 1px solid gray;
}

.user_mesg span,
.user_email span,
.user_name span {
  font-weight: bold;
  margin-right: 3px;
}

.user_mesg,
.user_email,
.user_name {
  padding: 3px;
}

.user_test_msg {
  width: 300px;
  overflow: hidden;
}

.user_test_msg::after {
  content: '...';
  position: absolute;
  top: 0;
  right: 0;
  padding: 0 5px;
  background: white;
}
.admin__container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.admin__card {
  overflow: scroll;
  height: 100vh;
}
