.about_me {
  width: 100%;
  background: rgb(224 241 255);
}
.about_me,
.container_01,
.my_img,
.my_info,
.personal_info {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.container_01 {
  width: 100%;
}
.my_img {
  width: 45%;
  margin: 67px 0 35px 0;
}
#img {
  display: flex;
}
.my_info h2 {
  margin: 0px !important;
}
h2 {
  margin: 10px;
  font-size: 42px;
}
h2 span {
  color: #ff5823;
}
.my_info {
  width: 80%;
  color: #000;
  flex-direction: row;
  flex-wrap: wrap;
  line-height: 35px;
  font-family: system-ui;
}
.my_info p {
  width: 90%;
  margin: 3px;
  font-size: 18px;
  color: #000;
  padding: 2px 15px 20px 15px;
}
h4 {
  font-size: 17px;
  font-weight: 500;
}
h4 span {
  font-size: 18px;
  font-weight: 700;
  color: #ff5823;
}
.personal_info {
  width: 90%;
  justify-content: space-around;
  flex-direction: row;
}

@media screen and (min-width: 1024px) {
  .my_info {
    gap: 27px;
  }
  .my_info p {
    font-size: 21px;
  }
  .my_img {
    width: 45%;
  }
  .my_img img {
    width: 567px;
  }
}
@media screen and (max-width: 1024px) {
  .my_img img {
    width: 523px;
  }
  .my_info {
    gap: 27px;
  }
}
@media screen and (max-width: 900px) {
  .my_img img {
    width: 500px;
  }
}
@media screen and (max-width: 720px) {
  .container_01 {
    flex-direction: column;
  }
  .personal_info {
    flex-direction: column;
    margin: 1px 0px 15px 0px;
  }
}
@media screen and (max-width: 580px) {
  .my_img {
    width: 90%;
    margin: 35px 0 5px 0 !important;
  }
}
@media screen and (max-width: 480px) {
  .container_01 {
    width: 100%;
    flex-direction: column;
    position: relative;
    color: #fff;
    padding: 10px 0;
  }
  .my_img img {
    width: 100%;
  }
  .my_info {
    width: 90%;
  }
  .my_info h2 {
    margin: 10px;
  }
  .my_info p {
    width: 100%;
  }
  .personal_info {
    width: 100%;
  }
}
