.contact_page_section {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
  background-color: #e5e5e5;
  padding: 120px 0 18px 0;
  font-family: "Google Sans Medium";
}
.contact_section {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: #fff;
  border-radius: 10px;
}
.contact_container {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.form_container_left {
  flex-direction: column;
  background: #ff5823;
  backdrop-filter: blur(10px);
  box-shadow: 0 1px 6px 0 #ff5823;

  height: 536px;
  color: #fff;
  font-size: 18px;
  display: flex;
  justify-content: space-around;
  width: 90% !important;
  border-radius: 10px;
}

.form_container_left:hover {
  background: #5e35b1;
}
.form_container_left h2 {
  font-size: 36px;
  margin: 0px 0 34px 0 !important;
}

.form_container_left img {
  display: flex;
  align-items: center;
}
.form_container_left p {
  font-size: 19px;
}
.form_container_right {
  width: 90%;
}
.form_container_right,
.form_container_left {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.user_form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}
.user_message_form {
  padding: 42px 0;
  width: 100%;
}
.username_val,
.user_msg,
.name_val {
  display: flex;
  flex-direction: column;
  margin: 9px;
}
input {
  height: 45px;
  line-height: 55px;
}
.user_send_msg_button {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.submit_msg {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  height: 45px;
  width: 95%;
  background: #ff5823;
  border: 1px solid #ed420c;
  color: #fff;
  margin: 15px 0 15px 0;
  font-size: 18px;
  font-weight: 500;

  border-radius: 3px;
}
.your_info_data {
  width: 100%;
}
.your_info_img {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
input,
textarea {
  outline: none;
  /* background: #f6f6f6; */
  border: 1px solid #ff5823;
  text-align: center;
  border-radius: 3px;
  box-shadow: 0px 0px 2px 1px #ff5823;
}

label {
  font-size: 15px;
  font-weight: 600;
}
label,
input {
  margin-bottom: 9px;
}
.user_message_form span {
  color: #ff5823;
  margin-left: 5px;
}
.user_message_form h3 {
  font-size: 39px;
  display: flex;

  justify-content: center;
  align-items: center;
  align-content: center;
}
.user_message_form p {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  font-size: 18px;
}
.contact_data_class {
  display: flex;
  align-content: center;
  align-items: center;
  gap: 10px;
  margin: 15px 0 21px 0;
  font-size: 18px;
  font-family: inherit;
  padding: 10px 21px;
}
@media screen and (min-width: 1024px) {
  .contact_page_section {
    padding: 120px 0;
  }
  .contact_container {
    width: 100%;
  }
  .contact_section {
    height: 618px;
    width: 64%;
    margin-right: -40px;
  }
  .user_form {
    width: 80%;
  }
  .contact_data_class {
    margin: 30px 0 30px 0;
  }
  .form_container_left,
  .form_container_right {
    width: 50%;
  }
  .your_info_img img {
    height: 412px;
  }
  .form_container_left {
    border-radius: 10px;
    width: 420px !important;
    margin-left: -203px;
    justify-content: center;
    margin-top: 0;
  }
  .your_info_data {
    margin: 0 0 0 10px;
  }
  .form_container_right {
    justify-content: flex-end;
  }
  .contact_data_class {
    gap: 14px;
  }
  .user_message_form h3,
  .user_message_form p {
    margin-left: 8px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 1024px) {
  .form_container_left {
    margin: 0 0 0 -96px;
    width: 350px !important;
  }
  .form_container_left,
  .form_container_right {
    width: 50%;
  }
  .your_info_img img {
    height: 307px;
  }
  .form_container_left:hover {
    background-color: #5e35b1;
    box-shadow: 1px 2px 2px blueviolet;
  }
  .contact_container {
    justify-content: space-evenly;
  }
  .contact_section {
    height: 616px;
    margin-right: -40px;
  }
}
@media screen and (max-width: 720px) {
  .contact_container {
    flex-direction: column;
  }
  .form_container_left {
    gap: 25px;
    margin: -96px 0 0 0 !important;
    width: 90% !important;
  }
  .contact_section {
    height: 100%;
    margin: 0;
  }
  .form_container_left,
  .form_container_right {
    width: 90%;
  }
}

@media screen and (max-width: 580px) {
  .user_message_form h3,
  .user_message_form p {
    margin-left: 8px;
    justify-content: flex-start;
  }
  .form_container_left {
    gap: 20px;
  }
  .form_container_left {
    height: 446px;
  }
}
