.footer_section {
  height: 60px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
}
.footer_section h2 {
  font-family: "Google Sans Medium ";
  font-size: 21px !important;
}
