* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.container {
  margin: 1rem;
  text-align: center;
}
.nav-container,
.logo {
  display: flex;
  align-items: center;
  align-content: center;
}
.nav-container {
  flex-direction: row;
  justify-content: space-between;
  z-index: 100;
  top: 0;
  position: sticky;
  width: 100%;
  color: #000;
  height: 72px;
  background: #ffffff;
  box-shadow: rgb(157 157 157 / 20%) 0px 4px 10px;
}
.logo {
  justify-content: space-evenly;

  padding: 0px 0 0 12px;
}
.logo a {
  text-decoration: none;
  font-size: 24px;
  color: black;
  font-weight: 600;
}
.logo a:hover {
  color: #ff8c09;
}

.logo img {
  width: 90px;
  margin-top: 3px;
}
.links {
  transform-origin: 0% 0%;
  position: relative;
  z-index: 50;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.MenuItems,
.links,
.active_links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
}
.MenuItems {
  text-align: center;
  font-size: 18px;
  line-height: 39px;
}
.MenuItems a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  line-height: 24px;
  text-align: center;
}

.MenuItems a:hover {
  border-radius: 3px;
  background: #00a5ee;
  color: #fff;
  box-shadow: 0 0 2px #00a5ee;
}
.MenuItems a:active {
  transform: scale(0.9);
}
.logo h4 {
  color: #000;
}
.active_links {
  position: absolute;
  /* background: rgb(212, 108, 255);
  background: linear-gradient(
    90deg,
    rgba(212, 108, 255, 1) 8%,
    rgba(158, 108, 255, 1) 100%
  ); */
  backdrop-filter: blur(45px);
  background: linear-gradient(90deg, #f4511e82 8%, #1976d2a1 100%);
  height: 90vh;
  width: 100%;
  top: 72px;
  flex-direction: column;
  z-index: 71;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.toggle_menu_icons {
  display: none;
}
.nav_a,
.nav_c {
  padding: 0 10px;
}

@media screen and (min-width: 1024px) {
  .nav-container {
    height: 80px;
    position: absolute;
  }

  .links a {
    padding: 12px;
    margin: 0 10px 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .MenuItems {
    flex-direction: column;
    gap: 27px;
    font-size: 21px;
    height: 512px;
    width: 306px;
    transition: transform 0.4s ease-in-out;
  }
  .MenuItems a {
    color: #000;
    width: 100%;
    border: 1px solid black;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: #fff;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 3px;
  }
  .toggle_menu_icons {
    display: flex;
    height: 50px;
    margin-right: 21px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }

  .links {
    width: 100%;
    transform: translate(-100%, 0);
    background: linear-gradient(90deg, #f4511e82 8%, #1976d2a1 100%);
    height: 90vh;
    width: 100%;
    top: 72px;
    position: absolute;
  }
  .active_links {
    transition: transform 0.4s ease-in-out;
  }
}

@media screen and (max-width: 820px) {
  .your_links {
    display: none;
    transition: all 1.5s linear;
    transform: translateX(-333px);
    position: relative;
    top: 190px;
  }
  .MenuItems a:hover {
    border-radius: 3px;
    color: #ffffff;
    box-shadow: 0 0 1px #fff;
    outline: none;
    background: transparent;
  }
}
@media screen and (max-width: 580px) {
  .MenuItems a {
    color: #000;
    outline: none;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: white;
  }
  .logo a {
    font-size: 21px;
  }
  .logo img {
    width: 71px;
    margin-top: 5px;
  }
}
@media screen and (max-width: 480px) {
  #navbar li {
    width: 100%;
    margin: 10px;
  }
  .nav {
    background-color: #fff;
    height: 82px;
  }
  #navbar {
    flex-direction: column;
  }

  .your_links {
    display: none;
    transition: all 1.5s linear;
    transform: translateX(-333px);
    position: relative;
    top: 190px;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu a {
    font-size: 18px;
    text-align: center;
    width: 20px;
    justify-content: center;
  }
  .mobile_menu_links,
  .hamburger-menu a,
  .nav {
    display: flex;
    align-items: center;
    align-content: center;
  }
  .mobile_menu_links {
    background-color: #fff;
    height: 20rem;
    padding-left: 3rem;
    transition: all 1.5s linear;
    position: relative;
    top: 190px;
    z-index: 99;
    transform: translateX(-162px);
    animation: fade-in 1s forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
