* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.container {
  margin: 1rem;
  text-align: center;
}
.nav-container {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  top: 0;
  position: sticky;
  width: 100%;
  color: #000;
  height: 72px;
  background: #ffffff;
  box-shadow: 0px 2px 6px 0 #bebebe;
}
.logo {
  display: flex;
  width: 110px;
  justify-content: space-evenly;
  align-items: center;
}
.logo a {
  text-decoration: none;
  font-size: 18px;
  color: black;
  font-family: "FontAwesome";
  font-weight: 600;
}
.logo img {
  width: 100px;
}
.links {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: center;
  transform-origin: 0% 0%;
  position: relative;
  z-index: 50;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.MenuItems {
  text-align: center;
  font-size: 18px;
  line-height: 39px;
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.MenuItems a {
  text-decoration: none;
  font-weight: 600;
  color: #000;
  line-height: 24px;
  text-align: center;
}
.logo h4 {
  color: #000;
}
.active_links {
  position: absolute;
  background: #985eff;
  height: 100vh;
  width: 100%;
  top: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 71;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1);
}
.toggle_menu_icons {
  display: none;
}
@media screen and (min-width: 1024px) {
  .nav-container {
    height: 84px;
    position: absolute;
  }
  .links {
    width: 80%;
  }
  .links a {
    padding: 12px;
    margin: 0 10px 0 10px;
  }
}
@media screen and (max-width: 1024px) {
  .MenuItems {
    flex-direction: column;
    gap: 27px;
    font-size: 21px;
    height: 512px;
    width: 306px;
    margin-top: -69px;
    transition: transform 0.4s ease-in-out;
  }
  .MenuItems a {
    color: #000;
    width: 100%;
    transition-delay: 0.5s;
    border: 1px solid black;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: #e8e8e8;
    height: 50px;
    align-items: center;
    display: flex;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 3px;
  }
  .toggle_menu_icons {
    display: flex;
    height: 50px;
    margin-right: 15px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .links {
    width: 100%;
    transform: translate(-100%, 0);
    background: #985eff;
    height: 100vh;
    width: 100%;
    top: 72px;
    position: absolute;
  }
  .active_links {
    transition: transform 0.4s ease-in-out;
  }
}

@media screen and (max-width: 820px) {
  .your_links {
    display: none;
    transition: all 1.5s linear;
    transform: translateX(-333px);
    position: relative;
    top: 190px;
  }
}
@media screen and (max-width: 580px) {
  .MenuItems a {
    color: #000;
    outline: none;
    border: none;
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
    background: white;
  }
}
@media screen and (max-width: 480px) {
  #navbar li {
    width: 100%;
    margin: 10px;
  }
  .nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    height: 82px;
  }
  #navbar {
    flex-direction: column;
  }

  .your_links {
    display: none;
    transition: all 1.5s linear;
    transform: translateX(-333px);
    position: relative;
    top: 190px;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu a {
    font-size: 18px;
    text-align: center;
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .mobile_menu_links {
    background-color: #fff;
    height: 20rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all 1.5s linear;
    position: relative;
    top: 190px;
    z-index: 99;
    transform: translateX(-162px);
    animation: fade-in 1s forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
