.work_page {
  display: flex;
  justify-content: center;
  position: inherit;
  flex-direction: column;
  align-items: center;
  background: rgb(224 241 255);
}

h2 {
  margin-top: 100px;
}

.section {
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.container {
  width: 350px;
  height: 210px;
  display: flex;
  background-color: #fff;
  padding: 10px;
  align-items: center;
  justify-content: space-evenly;
  font-size: 21px;
  font-weight: 600;
  border-radius: 9px;
  flex-direction: column;
}
.project_work_page {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}

.proj_component {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.proj_header {
  display: flex;
  align-items: center;
  align-content: center;
  justify-content: space-evenly;
  gap: 20px;
  padding: 10px;
}
.proj_btns {
  width: 100%;
  gap: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}

.proj_code,
.proj_live {
  width: 150px;
  height: 45px;
  font-size: 15px;
  font-weight: 500;
  outline: none;
  border: none;
  border-radius: 3px;
}

@media screen and (max-width: 420px) {
  .container {
    width: 90%;
  }
  .project_work_page {
    gap: 18px;
  }
}
