/* #my_skill {
  padding: 60px 0;
} */
.my_skills {
  display: flex;
  justify-content: center;
  margin: 30px 0 15px 0;
}
.my_skills span {
  color: #ff5823;
}
h2 {
  width: 90% !important;
  margin: 0px !important;
  text-align: center !important;
}
.my_skills h2 {
  color: #000;
}
#my_skill {
  /* clip-path: polygon(100% 10%, 100% 100%, 0% 100%, 0% 0%, 9% 0%); */
  background: whitesmoke;
  padding-top: 6px;
}
.section_container_skills_gif {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  padding: 19px 0;
}
.skills_gif_container {
  width: 90%;
  gap: 12px;
}

.skills_gif_container div {
  border-radius: 40px;
  box-shadow: 0px 0px 1px 0px rgb(173 173 173);
  height: 82px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  width: 64%;
  background: transparent;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  font-weight: 500;
  color: #373636;
}
.skills_gif_container img {
  width: 100%;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
}
.container_s {
  z-index: 50;
  position: relative;
  gap: 18px;
  width: 100%;
  display: flex;
  align-content: flex-start;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 60px 0;
}
.skill_box {
  z-index: 100;
  border-radius: 50% 20% / 10% 40%;
  background: transparent;
  box-shadow: 0px 0px 9px 0px #d4d4d4db;
  border: none;
  width: 80%;
  height: 233px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  margin: 9px;
  align-items: center;
  transition: ease-in-out 0.2s;
  background: transparent;
  backdrop-filter: blur(10px);
}
.skill_box:hover {
  border-radius: 12px;
}
.skill_box:active {
  transform: scale(0.9);
}
svg {
  height: 184px;
}
.svg_blobs {
  position: relative;
  z-index: 1;
  top: 269px;
  width: 100%;
  height: 400px;
}
.content_img_container img {
  height: 84px;
}
.content_img_container {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
.content_img_container h3 {
  font-size: 24px;
}
@media screen and (min-width: 1024px) {
  .skills_gif_container {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
  }
  .skills_gif_container div {
    padding: 32px;
    font-size: 18px;
    text-align: center;
    height: 109px;
  }
  .skills_gif_container img {
    width: 900px;
    height: 500px !important;
  }
  .skill_box {
    width: 300px;
  }
}

@media screen and (max-width: 1023px) {
  .skills_gif_container {
    display: flex;
    justify-content: center;
    margin: 10px 0 30px 0;
    width: 100%;
  }
  .skills_gif_container div {
    padding: 32px;
    font-size: 18px;
    text-align: center;
    height: 109px;
  }
}

@media screen and (max-width: 720px) {
  .skills_gif_container {
    flex-direction: column;
    align-items: center;
    gap: 33px;
  }
  .skills_gif_container div {
    width: 90%;
    padding: 74px;
    /* text-align: left !important; */
  }
}

@media screen and (max-width: 580px) {
  .skills_gif_container div {
    height: 106px;
    padding: 26px;
  }
}
