.work_page {
  display: flex;
  justify-content: center;
  position: inherit;
  flex-direction: column;
  align-items: center;
}

.work_page h2 {
  margin: 100px 0 0 0 !important;
}
h2 {
  margin-top: 100px;
}

.section {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-content: center;
  align-items: center;
}
.container {
  height: 200px;
  width: 90%;
  display: flex;
  background-color: rgb(10 110 194);
  margin: 10px;
  align-items: center;
  justify-content: center;
  font-size: 21px;
  font-family: "Poppins Regular";
  font-weight: 600;
}
.project_work_page {
  display: flex;
  width: 80%;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
