/* .bi_01 {
  flex: 0.5;
  width: 100%;
  height: 700px;
  /* background-color: blueviolet; 
}
.bi_01 .brief_information {
  align-items: center;
}
/* Party (#333399 + #FF00CC) 
.cover {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: white;
  align-content: center;
}
.brief_information {
  width: 50%;
  height: 310px;
  display: flex;
  text-align: left;
  justify-content: center;
  border-radius: 10px;
  align-content: center;
  flex-direction: column;
}

.grp-buttons a {
  margin-left: 12px;
}

.brief_information h3 span {
  color: rgb(207, 154, 55);
  font-family: cursive;
}
.brief_information h3 {
  margin-left: -355px;
  font-size: 21px;
  font-family: cursive;
}

.brief_information h2 {
  font-size: 36px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
.brief_information h2 span {
  color: orange;
}

.brief_information p {
  margin: 12px;
  margin-bottom: 12px;
  padding: 10px;
  width: 495px;
  text-align: center;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.brief_information a {
  /* margin-top: 15px; 
  padding: 10px 27px;
  border-radius: 6px;
  font-size: 15px;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  background-color: darkcyan;
  text-decoration: none;
}
.grp-buttons {
  margin-top: 12px;
  display: flex;
}

h3 {
  margin-bottom: 0px;
  /* color: white; 
}
.text {
  text-align: center;
}
.text h2 {
  padding: 10px;
  margin: 3px;
}
*/
.Typewriter {
  font-size: 21px;
  font-weight: 600;
}

@font-face {
  font-family: "Poppins Medium";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins SemiBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins ExtraBold";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-ExtraBold.ttf");
}

@font-face {
  font-family: "Poppins Light";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins Thin";
  font-style: normal;
  font-weight: normal;
  src: url("./assets/fonts/Poppins-Thin.ttf");
}

* {
  outline: none;
}

body {
  margin: 0;
  overflow-y: overlay;
  font-family: "Poppins Regular";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

::-webkit-scrollbar {
  width: 6px !important;
  height: 6px !important;
}

body ::-webkit-scrollbar-thumb {
  background-color: hsla(0, 0%, 100%, 0.16);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.2);
}

::-webkit-scrollbar-track {
  background: hsla(0, 0%, 100%, 0.1);
}

.btn {
  border-radius: 50px;
  padding: 14px 0;
  width: 160px;
  cursor: pointer;
  transition: 0.2s;
  font-family: "Poppins SemiBold";
}

.btn:active {
  transform: translateY(2px);
}

.primary-btn {
  color: var(--white);
  border: 2px solid linen;
  font-size: 12px;
  background-color: #1f2235;
}
/* @media only screen and (max-width: 414px) {
  .primary-btn {
    font-size: 13px;
  }
} */

.primary-btn:hover {
  color: aliceblue;
  border: 2px solid #ff5823;
  background-color: #1f2235;
}

.highlighted-btn {
  color: var(--white);

  font-size: 12px;
  background-color: #ff5823;
}
@media only screen and (max-width: 568px) {
  .highlighted-btn {
    z-index: -900;
  }
}

/* @media screen and (max-width: 420px) {
 
} */

.red-border {
  border: 1px solid var(--error-message) !important;
}

.fade-in {
  opacity: 0;
  transform: translateY(80px);
  transition: all 0.8s ease;
}

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: flex-start;
  /* height: 10%; */
  min-height: fit-content;
  /* background-image: url("../components/assets/fonts/bg.jpg"); */
  background: #070a28;
  align-content: center;
  flex-direction: column;
}
.profile-parent {
  align-content: center;
  align-items: center;
  background: #070a28;
  display: flex;
  height: 100vh;
  width: 80%;
  min-height: -moz-fit-content;
  text-align: left;
  color: aliceblue;
}
.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 {
  font-size: 40px;
  font-family: cursive;
}
.primary-text {
  color: (--white);
  font-size: 30px;
}
.highlighted-text {
  color: var(--dark-orange);
  margin-right: 9px;
  margin-left: 3px;
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
  font-family: "Poppins Light";
}
.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -2px 1px 0px 0px #ffffff;
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 90%;
  width: 90%;
  background-image: url(../components/assets/Images/profile_img.jpg);
  background-size: cover;
  border-radius: 50%;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  transform: scale(1.07);
  transition: 1s ease-out;
}
.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}
.colz .colz-icon i:hover {
  transform: scale(1.5);
}
@media screen and (max-width: 480px) {
  .profile-deails {
    margin-top: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}
@media screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font-size: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
    height: 47px;
  }
}

@media screen and(max-width:910px) {
  .profile-picture {
    height: 320px;
    width: 320px;
    margin: 0 0 0 4px;
  }
}
@media screen and (max-width: 810px) {
  .profile-picture {
    margin: -56px 0 0 0 !important;
  }
  .profile-container {
    width: 100%;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
    width: 90%;
    justify-content: center;
    text-align: center;
  }
  .profile-options {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
  }
  .profile-deails {
    display: flex;
    margin-top: 15px;
    margin: 25px 0 0;
    justify-content: center;
    text-align: center;
  }
  .colz {
    margin-top: 15px;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-options,
  .profile-details-role {
    text-align: center;
  }
}
@media screen and (max-width: 580px) {
}
@media screen and (max-width: 480px) {
}
@media screen and (max-width: 420px) {
  .profile-picture {
    height: 350px;
    width: 350px;
  }
  .profile-picture-background {
    height: 85%;
    width: 85%;
  }
}
@media screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .profile-deails {
    width: 90%;
  }
}
