* {
  box-sizing: border-box;
}

body {
  margin: 0px;
}
.container {
  margin: 1rem;
  text-align: center;
}
.nav {
  background-color: #fff;
  display: flex;
  align-items: stretch;
  padding: 0 1rem;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  width: 100%;
  height: 82px;
}
.site-title {
  font-size: 2rem;
}
#navbar {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0px;
}
#navbar li {
  list-style: none;
  padding: 0 20px;
  position: relative;
}
#navbar li a {
  text-decoration: none;
  font-size: 1.3rem;
  font-weight: 600;
  color: rgb(13, 13, 13);
  transition: 0.3s ease-in-out;
}
#navbar li a:hover,
#navbar li a.active {
  color: #17cf97;
}

#navbar li a:hover::after,
#navbar li a.active::after {
  content: "";
  width: 30%;
  height: 2px;
  background: #17cf97;
  position: absolute;
  bottom: -4px;
  left: 20px;
}

#navbar li a.active {
  color: #17cf97;
}
.hamburger-menu {
  display: none;
  width: 30px;
  align-items: center;
  justify-content: center;
  align-content: center;
}
#mobile i {
  color: rgb(0, 0, 0);
}

@media screen and (max-width: 820px) {
  .your_links {
    display: none;
    transition: all 1.5s linear;
    transform: translateX(-333px);
    position: relative;
    top: 190px;
  }
}
@media screen and (max-width: 480px) {
  #navbar li {
    width: 100%;
    margin: 10px;
  }
  .nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    align-content: center;
    height: 82px;
  }
  #navbar {
    flex-direction: column;
  }

  .your_links {
    display: none;
    transition: all 1.5s linear;
    transform: translateX(-333px);
    position: relative;
    top: 190px;
  }

  .hamburger-menu {
    display: flex;
  }

  .hamburger-menu a {
    font-size: 18px;
    text-align: center;
    display: flex;
    width: 20px;
    align-items: center;
    justify-content: center;
    align-content: center;
  }
  .mobile_menu_links {
    background-color: #fff;
    height: 20rem;
    display: flex;
    align-items: center;
    padding-left: 3rem;
    transition: all 1.5s linear;
    position: relative;
    top: 190px;
    z-index: 99;
    transform: translateX(-162px);
    animation: fade-in 1s forwards;
  }
  @keyframes fade-in {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
}
