.links {
  display: flex;
}
nav {
  width: 100%;
  position: absolute;
  background-color: #676767;
}
ul {
  list-style-type: none;
  margin: 10px;
  padding: 0px;
}
li {
  display: flex;
  text-decoration: none;
  justify-content: space-between;
  align-content: center;
  flex-direction: row;
  align-items: center;
  margin: 6px 10px 10px 10px;
  font-size: 18px;
}
.logo {
  position: relative;
  text-decoration: none;
  color: rgb(255, 255, 255);
  font-size: 42px;
  font-family: Brush Script MT;
}
.end {
  display: flex;
  border-radius: 10px;
}
.navl {
  text-decoration: none;
  color: white;
  font-size: 21px;
  font-weight: 500;
  font-family: system-ui;
}
